# Swap files.
*.swp

# Output ASCII files.
*.asc

# Default output directories.
**/output

# Jupyter notebook checkpoints.
**/.ipynb_checkpoints

# Object files.
*.o

# Build directories.
**/bin

# Executables.
ELLSOLVEC
ELLSOLVEF
